html,body{
    margin:0;padding:0;
    width:100%;
    background:rgb(1,77,103);
    font-size:1.2em;
    color:rgb(237,223,139);
  }
  a{
    text-decoration: none;
    color:rgb(251,178,23);
  }
  #Header{    
    width:100%;
    height:60px;
    line-height:60px;    
  }  
  #Header .list{    
    width:25%;    
    font-size:45px; 
    text-align:center;
    float:left;
  }
  #Header .list:hover{
    background:rgb(96,143,159);
  }
  .content{
    padding:1px 0 5px 30px;    
  }  
  .content h2{    
    border-left: 3px solid rgb(251,178,23);    
  }
  
  #content{
    height:900px;
    padding:1px 0 5px 30px;    
  }  
  #content h2{    
    border-left: 3px solid rgb(251,178,23);    
  }
  #footer{
    width:100%;         
    text-align:center;
  }	
  .example{
    padding:20px 0 17px  50px;
    height:52px;
  }
  .example a{
      display: block;
  }
 #Hole{
        
        height:739px;
    } 
 @media screen and (min-height: 1500px) {
    html,body {
        font-size:2em;
    }
     #content{
    height:1500px;
    }
  }
  @media only screen and (min-width:700px){
    #Web,#Moule{
        width:50%;
        float: left;
    } 
    #MyExample{
      height:213px;
  }
    #Hole{
        margin:3px 0;
        height:615px;
    }   

  }
@media only screen and (min-width:790px){
    #Hole{
        margin:3px 0;
        height:447px;
    }  
}
@media only screen and (min-width:1032px){
    #Hole{
        margin:3px 0;
        height:364px;
    }  
}
